<div class="container">
    <div [hidden]="submitted">
      <h1>Attendee Form</h1>
      <form (ngSubmit)="onSubmit()" #attendeeForm="ngForm">
        <div class="form-group">
          <label for="cookieId">CookieId</label>
          <input type="text" class="form-control" id="cookieId"
                 required
                 [(ngModel)]="model.cookieId" cookieId="cookieId"
                 #cookieId="ngModel">
        </div>
  
        <div class="form-group">
          <label for="name">User Name</label>
          <input type="text" class="form-control" id="name"
                 [(ngModel)]="model.name" name="name">
          
          <!--
                 <div [hidden]="name.valid || name.pristine"
                 class="alert alert-danger">
              Name is required
          </div>
          -->
        </div>
  
        <div class="form-group">
          <label for="adminStatus">Admin Status</label>
          <select class="form-control" id="adminStatus"
                  required
                  [(ngModel)]="model.adminStatus" name="adminStatus"
                  #padminStatus="ngModel">
            <option *ngFor="let astat of adminStatuses" [value]="astat">{{astat}}</option>
          </select>
          <!--
          <div [hidden]="adminStatus.valid" 
            
           class="alert alert-danger">
            Admin Status is required
          </div>
          -->
        </div>
  
        <button type="submit" class="btn btn-success" [disabled]="!attendeeForm.form.valid">Submit</button>
        <!--
        <button type="button" class="btn btn-default" (click)="newAttendee(); attendeeForm.reset()">New Attendee</button>
        <em>with</em> reset
  
        &nbsp;&nbsp;
        <button type="button" class="btn btn-default" (click)="newAttendee()">New Attendee</button>
        <em>without</em> reset
          -->
       <!-- NOT SHOWN IN DOCS
        <div>
          <hr>
          Name via form.controls = {{showFormControls(attendeeForm)}}
        </div>
       -->
      </form>
    </div>
  
    <div [hidden]="!submitted">
      <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3">CookieId</div>
        <div class="col-xs-9">{{ model.cookieId }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">User Name</div>
        <div class="col-xs-9">{{ model.name }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Admin Status</div>
        <div class="col-xs-9">{{ model.adminStatus }}</div>
      </div>
      <br>
      <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div>
</div>
  
  <!-- ====================================================  -->
    <div>
      <form>
  
         <!-- ... all of the form ... -->
  
      </form>
    </div>
  
  <!-- ====================================================  -->
<hr>
  <style>
    .no-style .ng-valid {
    border-left: 1px  solid #CCC
  }
  
    .no-style .ng-invalid {
    border-left: 1px  solid #CCC
  }
</style>
