<body>
  <app-nav-menu></app-nav-menu>
  <!--
  <app-liste-beitreten-form></app-liste-beitreten-form>
  <app-redeliste-erstellen-form></app-redeliste-erstellen-form>
  -->

  <div class="container">
    <router-outlet></router-outlet>
    <!--
    <nav>
      <a routerLink="/redelisteAuswahl">RedelisteAuswahl</a>
    </nav>
    <router-outlet></router-outlet>
       
      <app-redeliste-auswahl></app-redeliste-auswahl>
    <router-outlet></router-outlet>
    -->
  </div>

</body>
