<div class="container">

    <h1>Liste beitreten</h1>
    <div class="form-group">
        <label for="name">Listenname</label>
        <!--
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
          -->
    </div>
    <!--
    <input type="button" value="Beitreten" [routerLink]="['../redeliste-teilnahme']" class="btn">
    <button [routerLink]="/redeliste-teilnahme">Beitreten</button>
    -->
    

</div>
  
  <!-- ====================================================  -->
    <div>
      <form>
  
         <!-- ... all of the form ... -->
  
      </form>
    </div>
  
  <!-- ====================================================  -->
<hr>
  <style>
    .no-style .ng-valid {
    border-left: 1px  solid #CCC
  }
  
    .no-style .ng-invalid {
    border-left: 1px  solid #CCC
  }
</style>
