<div class="container">
  <form [formGroup]="redelisteAuswahlForm" (ngSubmit)="onSubmit()">
    <h2>Liste beitreten</h2>
    <label for="listName">Listenname:</label>
    <input id="listName" type="text" formControlName="listName">
    <p>Complete the form to enable button.</p>
    <p>Form Status: {{ redelisteAuswahlForm.status }}</p>
    <button type="submit" [disabled]="!redelisteAuswahlForm.valid">Beitreten</button>
    <button type="button" (click)="updateProfile()">Update Profile</button>
  </form>
</div>

<hr>
  <style>
    .no-style .ng-valid {
    border-left: 1px  solid #CCC
  }
    .no-style .ng-invalid {
    border-left: 1px  solid #CCC
  }
</style>
