<div class="container">

    <h1>Liste beitreten</h1>
    <label for="name">Listenname</label>
    <!--
    <input id="name" type="text" [formControl]="name">
    -->
    <app-redeliste-auswahl-form></app-redeliste-auswahl-form>
    <p>Value: {{ name.value }}</p>
    
    <button type="button" (click)="joinList()">Beitreten</button>
    <!--
    <input type="button" value="Beitreten" [routerLink]="['../redeliste-teilnahme']" class="btn">
    <button [routerLink]="/redeliste-teilnahme">Beitreten</button>
    -->
</div>
  
  <!-- ====================================================  -->
    <div>
      <form>
         <!-- ... all of the form ... -->
      </form>
    </div>
  
  <!-- ====================================================  -->
<hr>
  <style>
    .no-style .ng-valid {
    border-left: 1px  solid #CCC
  }
  
    .no-style .ng-invalid {
    border-left: 1px  solid #CCC
  }
</style>
